html * {
    font-family: 'Roboto', 'Times New Roman', 'Serif';
}

head {
    display: none;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    display: flex;
    align-items: center;
    color: #e5e7eb;
    font-size: 18px;
    justify-content: space-between;
    gap: 30px;
}

.hero-column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.image-studio {
    max-width: 800px;
    height: auto;
}

.hero {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}

h1 {
    font-size: 48px;
    color: #f9faf8;
}

.hero-text {
    color: #e5e7eb;
    font-size: 18px;
}

.sign-up {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 20px;
    text-align: center;
    border: none;
    text-decoration: none;
    border-radius: 12px;
    width: fit-content;
}